<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-paw"></i> schnappi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Acasa</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Vizualizare
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/viz/angajati">Angajati</a>
            <a class="dropdown-item" href="/viz/echipamente">Echipamente</a>
            <a class="dropdown-item" href="/viz/furnizori">Furnizori</a>
            <a class="dropdown-item" href="/viz/inscrieri">Înscrieri</a>
            <a class="dropdown-item" href="/viz/inventare">Inventare</a>
            <a class="dropdown-item" href="/viz/livrari">Livrări</a>
            <a class="dropdown-item" href="/viz/posturi">Posturi</a>
            <a class="dropdown-item" href="/viz/prescolari">Preșcolari</a>
            <a class="dropdown-item" href="/viz/repartizare_sali">Repartizare săli</a>
            <a class="dropdown-item" href="/viz/sali">Săli</a>
            <a class="dropdown-item" href="/viz/servicii">Servicii</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Adaugare
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/add/angajati">Angajati</a>
            <a class="dropdown-item" href="/add/echipamente">Echipamente</a>
            <a class="dropdown-item" href="/add/furnizori">Furnizori</a>
            <a class="dropdown-item" href="/add/inscrieri">Înscrieri</a>
            <a class="dropdown-item" href="/add/inventare">Inventare</a>
            <a class="dropdown-item" href="/add/livrari">Livrări</a>
            <a class="dropdown-item" href="/add/posturi">Posturi</a>
            <a class="dropdown-item" href="/add/prescolari">Preșcolari</a>
            <a class="dropdown-item" href="/add/repartizare_sali">Repartizare săli</a>
            <a class="dropdown-item" href="/add/sali">Săli</a>
            <a class="dropdown-item" href="/add/servicii">Servicii</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Subiectul III
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/cerinta/c">Cerința c</a>
            <a class="dropdown-item" href="/cerinta/d">Cerința d</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>